<footer class="footer">
	<div class="container">
		<section class="contact">
			<h2>Made with ❤️</h2>
			<a href="https://developer.android.com/jetpack/compose">Jetpack Compose</a>
		</section>
		<section class="follow">
			<h2>Submit your own Animations</h2>
			<ul>
				<li><a title="Github" href="{{ site.github }}" target="_blank">Github</a></li>
			</ul>
		</section>
		<section class="follow">
			<h2>Follow me on</h2>
			<ul>
				<li><a title="Twitter" href="{{ site.twitter }}" target="_blank">@CuriousNikhyl</a></li>
			</ul>
		</section>
	</div>
</footer>